@model List<WebApplication2.Models.readertable>
@{
    ViewBag.Title = "Readers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="team_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center" style="color: white">
            <h2>
                Our Readers
            </h2>
            <p>
                Nơi bắt đầu hành trình khám phá tâm hồn, nơi từng lá bài mở ra những bí ẩn ẩn giấu của cuộc sống, giúp bạn thấu hiểu chính mình,
                tìm kiếm lời giải đáp cho những khúc mắc, và hướng dẫn bạn đến con đường định mệnh đang chờ đón.
            </p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/@item.img" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.name
                            </h5>
                            <h6 class="">
                                @item.position
                            </h6>
                            <div class="btn-box">
                                @Html.ActionLink("Xem thêm", "GetInfo", new { id = @item.id })
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 mx-auto ">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/Content/images/@item.img" alt="">
                        </div>
                        <div class="detail-box">
                            <h5>
                                @item.name
                            </h5>
                            <h6 class="">
                                @item.position
                            </h6>
                            <div class="btn-box">
                                @Html.ActionLink("Xem thêm", "GetInfo", new { id = @item.id })
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
</section>

