@model WebApplication2.Models.cardtable_wands

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_MyLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>cardtable_wands</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.link)
        </dt>

        <dd>
            <img src="~/Content/images/wands/@Model.link" alt="@Model.alt"
                 style="max-width: 150px; max-height: 150px; width: auto; height: auto;" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.alt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.alt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripsion_u)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripsion_u)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripsion_r)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripsion_r)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail_u)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_u)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.detail_r)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.detail_r)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CardW", null, new { @class = "btn btn-details" })
        </div>
    }
</div>
