@model WebApplication2.Models.CardsModel
@{
    ViewBag.Title = "TarotOnline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Newtonsoft.Json
<style>
    .card.selected {
        transform: translateY(-10px); /* Moves the card up by 10px */
        transition: transform 0.2s ease-in-out; /* Smooth transition */
    }
</style>
<section style="background-image: url(/Content/images/tarotbg.png); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
    <section class="service_section layout_padding " style="background-image: url(/Content/images/tarotbg.png); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
        <div class="container">
            <div class="heading_container heading_center">
                <h2 style="font-family: Arial, sans-serif;">
                    NHẬN ĐƯỢC CÂU TRẢ LỜI BẠN CẦN VỚI
                </h2>
                <h1>
                    3 LÁ
                </h1>
                <h2>
                    BÀI TAROT
                </h2>
                <div class="set_style" style="display: flex; justify-content: center; align-items: center; ">
                    <div class="containerm" style="text-align: center;">

                        <form action="#" id="formContainer" style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 15px;">
                            <select name="" id="country" style="width: 160%; padding: 15px; padding-left: 10px; background-color: #fff; border-radius: 10px; border: none; outline: none; font-size: 1.2rem; box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25); cursor: pointer;">
                                <option value="">-- Chọn chủ đề --</option>
                            </select>
                            <select name="" id="state" style="width: 160%; padding: 15px; padding-left: 10px; background-color: #fff; border-radius: 10px; border: none; outline: none; font-size: 1.2rem; box-shadow: 0 5px 10px 0 rgb(0,0,0,0.25); cursor: pointer;">
                                <option value="">-- Chọn câu hỏi --</option>
                            </select>
                        </form>

                        <div id="h2Container" style="display: none; text-align: center;">
                            <h2 id="selectedCountry"></h2>
                            <h2 id="selectedState"></h2>
                        </div>

                    </div>
                </div>


                <section class="team_section layout_padding" style="padding-top: 1px;">
                    <div class="btn-box">
                        <a href="javascript:void(0);" id="shuffleButton" onclick="handleShuffle()" style="pointer-events: none; opacity: 0.5;">
                            XÀO BÀI
                        </a>
                    </div>
                </section>

                <script>
                    function shuffleContent() {
                        const selectedCountry = document.getElementById("country").value;
                        const selectedState = document.getElementById("state").value;

                        document.getElementById("selectedCountry").textContent = selectedCountry;
                        document.getElementById("selectedState").textContent = selectedState;

                        document.getElementById("formContainer").style.display = "none";
                        document.getElementById("h2Container").style.display = "block";
                    }

                    var countrySateCityinfo = {
                        Job: {
                            "Western Australia": {},
                            Tasmania: {}
                        },
                        Family: {
                            Bavaria: {},
                            Hessen: {}
                        },
                        Love: {
                            Alberta: {},
                            Manitoba: {}
                        }
                    };

                    window.onload = function () {
                        const selectCountry = document.getElementById('country'),
                            selectState = document.getElementById('state'),
                            shuffleButton = document.getElementById('shuffleButton');

                        selectState.disabled = true;

                        shuffleButton.style.pointerEvents = "none";
                        shuffleButton.style.opacity = "0.5";

                        function checkSelections() {
                            if (selectCountry.value !== "" && selectState.value !== "") {
                                shuffleButton.style.pointerEvents = "auto";
                                shuffleButton.style.opacity = "1";
                            } else {
                                shuffleButton.style.pointerEvents = "none";
                                shuffleButton.style.opacity = "0.5";
                            }
                        }

                        for (let country in countrySateCityinfo) {
                            selectCountry.options[selectCountry.options.length] = new Option(country, country);
                        }

                        selectCountry.onchange = (e) => {
                            selectState.disabled = false;
                            selectState.length = 1;
                            for (let state in countrySateCityinfo[e.target.value]) {
                                selectState.options[selectState.options.length] = new Option(state, state);
                            }
                            checkSelections();
                        };

                        selectState.onchange = () => {
                            checkSelections();
                        };
                    };
                </script>

                <section id="hidden-section" style="padding-bottom:10%; display:none; width: 100%">
                    <h1 id="header">Chọn 3 lá</h1>
                    <div class="cards"></div>
                    <div class="reading"></div>
                    <div class="button-container">
                        <b class="button">Bói lại</b>
                        
                    </div>

                </section>
                <script>
                    function showSection() {
                        document.getElementById('hidden-section').style.display = 'block';
                    }
                    function handleShuffle() {
                        shuffleContent();
                        showSection();
                    }
                    const cardArray = @Html.Raw(JsonConvert.SerializeObject(Model.cardtables_uses.Select(card => new {
                        name = card.name,
                        img = "/Content/images/"+card.link,
                        situation = card.situation,
                        obstacle = card.obstacle,
                        advice = card.advice
                    })));


                    const cards = document.querySelector('.cards');
                    const reading = document.querySelector('.reading');
                    const button = document.querySelector('.button-container');

                    // spread array into a list of arguments to avoid "NaN" output
                    const shuffledCards = [...cardArray].sort(() => 0.5 - Math.random());
                    const chosenCards = [];

                    function createCards() {
                        for (let i = 0; i < shuffledCards.length; i++) {
                            const card = document.createElement('div');
                            const back = document.createElement('img');

                            card.setAttribute('class', 'card');
                            back.setAttribute('class', 'back');
                            back.setAttribute('src', '/Content/images/cardback.jpg');
                            back.setAttribute('alt', 'Back of Tarot Card');

                            cards.appendChild(card);
                            card.appendChild(back);

                            card.addEventListener('click', function () {
                                chosenCards.push(shuffledCards[0]);
                                // so it appears the user cannot select more than 3 cards at a time
                                if (chosenCards.length < 4) {
                                    back.classList.toggle('selected');
                                }
                                // remove the first card to prevent duplicates
                                shuffledCards.shift();

                                revealReading();

                                function refreshPage() {
                                    location.reload();
                                }

                                button.addEventListener('click', refreshPage);
                            }, { once: true })
                        }
                    }

                    function revealReading() {
                        if (chosenCards.length === 3) {
                            for (let i = 0; i < chosenCards.length; i++) {

                                const content = document.createElement('div');
                                const description = document.createElement('div');
                                const img = document.createElement('img');
                                const h2 = document.createElement('h2');
                                const p = document.createElement('p');

                                content.setAttribute('class', 'content');
                                description.setAttribute('class', 'description');
                                img.setAttribute('src', chosenCards[i].img);
                                img.setAttribute('id', i);
                                img.setAttribute('class', 'front');
                                img.setAttribute('alt', 'Rider Waite Tarot Card');

                                reading.appendChild(content);
                                content.appendChild(img);
                                content.appendChild(description);

                                function appendElements(category, text) {
                                    description.appendChild(h2);
                                    description.appendChild(p);
                                    h2.appendChild(category);
                                    p.appendChild(text);
                                }

                                if (img.id == 0) {
                                    const category = document.createTextNode('Situation');
                                    const text = document.createTextNode(chosenCards[i].situation);

                                    appendElements(category, text);
                                } else if (img.id == 1) {
                                    const category = document.createTextNode('Obstacle');
                                    const text = document.createTextNode(chosenCards[i].obstacle);

                                    appendElements(category, text);
                                } else {
                                    const category = document.createTextNode('Advice');
                                    const text = document.createTextNode(chosenCards[i].advice);

                                    appendElements(category, text);
                                }
                            }

                            fadeOutCards();

                            // fade in reading
                            setTimeout(() => {
                                const header = document.getElementById('header');
                                // the results take the place of the cards container
                                cards.style.position = 'absolute';

                                reading.style.opacity = 1;
                                button.style.opacity = 1;
                                header.textContent = "Your Reading Foretells...";
                            }, 1500)
                        }
                    }

                    function fadeOutCards() {
                        const fadeOutInterval = setInterval(function () {
                            if (!cards.style.opacity) {
                                cards.style.opacity = 1;
                            }

                            if (cards.style.opacity > 0) {
                                cards.style.opacity -= 0.05;
                            } else {
                                clearInterval(fadeOutInterval);
                            }
                        }, 80)
                    }

                    createCards();

                    if (window.location.pathname.includes('/index.html')) {
                        const navbar = document.getElementById('navbar');
                        const sticky = navbar.offsetTop;

                        function addStickyClass() {
                            if (window.pageYOffset >= sticky) {
                                navbar.classList.add('sticky')
                            } else {
                                navbar.classList.remove('sticky');
                            }
                        }

                        window.onscroll = function () {
                            addStickyClass()
                        };


                    }

                </script>

            </div>
        </div>
    </section>
    <section id="intro">
        <div class="suit-summary">
            <h1>Ý Nghĩa Các Lá Bài</h1>
            <span>&#10022 &#10022 &#10022</span>
            <p>
                Dưới đây là tất cả ý nghĩa của các lá bài Tarot
            </p>
        </div>
    </section>
    <div class="containerbottom" style="width: 100%; margin: 0 auto;">
        <div class="card-list" style="width: 90%;">

            @foreach (var item in Model.cardtables)
            {
                <div class="card-item">
                    <img src="~/Content/images/major-arcana/@item.link" class="image" alt="@item.alt">
                    <div class="card-content">
                        <h2>@item.name</h2>
                        <div>
                            <h3>&#10023 Upright &#10023</h3>
                            <p class="flavor-text">@item.descripsion_u</p>
                            <p class="card-summary">
                                @item.detail_u
                            </p>
                        </div>
                        <div>
                            <h3>&#10023 Reversed &#10023</h3>
                            <p class=">@item.descripsion_r</p>
                            <p class="card-summary">
                                @item.detail_r
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- ! CUPS  -->
        <section id="cups">
            <div class="suit-summary">
                <h1>Cups</h1>
                <span>&#10022 &#10022 &#10022</span>
                <p>
                    In tarot, the element of cups is water, and the suit of cups pertains to situations and events of an emotional
                    nature – in contradistinction to physical, or mindful, or creative natures; physical would refer to the
                    understanding with the five senses, mindfulness would refer to mental constructs and logical sequences, and
                    creative would refer to the agility of transcending limits, if so desired). As such, when the tarot is
                    used in divination, many cups signify an emotional issue or love situation, or some event that affects the
                    querent emotionally.
                </p>
            </div>
        </section>
        <div class="card-list" style="width: 90%;">
            @foreach (var item in Model.cardtables_cups)
            {
                <div class="card-item">
                    <img src="~/Content/images/cups/@item.link" class="image" alt="@item.alt">
                    <div class="card-content">
                        <h2>@item.name</h2>
                        <div>
                            <h3>&#10023 Upright &#10023</h3>
                            <p class="flavor-text">@item.descripsion_u</p>
                            <p class="card-summary">
                                @item.detail_u
                            </p>
                        </div>
                        <div>
                            <h3>&#10023 Reversed &#10023</h3>
                            <p class=">@item.descripsion_r</p>
                            <p class="card-summary">
                                @item.detail_r
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- ! SWORDS -->
        <section id="swords">
            <div class="suit-summary">
                <h1>Swords</h1>
                <span>&#10022 &#10022 &#10022</span>
                <p>
                    The Suit of Swords Tarot card meanings are associated with action, change, force, power, oppression, ambition,
                    courage and conflict. Swords mirror the quality of mind present in your thoughts, attitudes, and beliefs. Action
                    can be constructive and/or destructive, swords are often double-edged and in this way the Suit of Swords
                    symbolises the fine balance between intellect and power and how these two elements can be used for good or evil.
                </p>
            </div>
        </section>
        <div class="card-list" style="width: 90%;">
            @foreach (var item in Model.cardtables_swords)
            {
                <div class="card-item">
                    <img src="~/Content/images/swords/@item.link" class="image" alt="@item.alt">
                    <div class="card-content">
                        <h2>@item.name</h2>
                        <div>
                            <h3>&#10023 Upright &#10023</h3>
                            <p class="flavor-text">@item.descripsion_u</p>
                            <p class="card-summary">
                                @item.detail_u
                            </p>
                        </div>
                        <div>
                            <h3>&#10023 Reversed &#10023</h3>
                            <p class=">@item.descripsion_r</p>
                            <p class="card-summary">
                                @item.detail_r
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!-- ! PENTACLES -->
        <section id="pentacles">
            <div class="suit-summary">
                <h1>Pentacles</h1>
                <span>&#10022 &#10022 &#10022</span>
                <p>
                    The Suit of Pentacles Tarot cards deal with the physical or external level of consciousness and thus mirror the
                    outer situations of your health, finances, work, and creativity. They have to do with what we make of our outer
                    surroundings – how we create it, shape it, transform it and grow it. On a more esoteric level, Pentacles are
                    associated with the ego, self-esteem and self-image.
                </p>
            </div>
        </section>
        <div class="card-list" style="width: 90%;">
            @foreach (var item in Model.cardtables_pentacles)
            {
                <div class="card-item">
                    <img src="~/Content/images/pentacles/@item.link" class="image" alt="@item.alt">
                    <div class="card-content">
                        <h2>@item.name</h2>
                        <div>
                            <h3>&#10023 Upright &#10023</h3>
                            <p class="flavor-text">@item.descripsion_u</p>
                            <p class="card-summary">
                                @item.detail_u
                            </p>
                        </div>
                        <div>
                            <h3>&#10023 Reversed &#10023</h3>
                            <p class=">@item.descripsion_r</p>
                            <p class="card-summary">
                                @item.detail_r
                            </p>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- ! WANDS -->
        <section id="wands">
            <div class="suit-summary">
                <h1>Wands</h1>
                <span>&#10022 &#10022 &#10022</span>
                <p>
                    The Suit of Wands Tarot card meanings are associated with primal energy, spirituality, inspiration,
                    determination, strength, intuition, creativity, ambition and expansion, original thought and the seeds through
                    which life springs forth.
                </p>
            </div>
        </section>
        <div class="card-list" style="width: 90%;">
            @foreach (var item in Model.cardtables_wands)
            {
                <div class="card-item">
                    <img src="~/Content/images/wands/@item.link" class="image" alt="@item.alt">
                    <div class="card-content">
                        <h2>@item.name</h2>
                        <div>
                            <h3>&#10023 Upright &#10023</h3>
                            <p class="flavor-text">@item.descripsion_u</p>
                            <p class="card-summary">
                                @item.detail_u
                            </p>
                        </div>
                        <div>
                            <h3>&#10023 Reversed &#10023</h3>
                            <p class=">@item.descripsion_r</p>
                            <p class="card-summary">
                                @item.detail_r
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>


    </div>
    
    
    
    </script>
<script src="~/Content/js/script.js"></script>
</section>



